/*
    '50': '#eefdfd',
    '100': '#d4f9f9',
    '200': '#aef1f3',
    '300': '#77e5e9',
    '400': '#38d0d8',
    '500': '#1db8c30d',
    '600': '#1a91a0',
    '700': '#1c7482',
    '800': '#1f5f6b',
    '900': '#1e4f5b',
    '950': '#0e343e',

    '50': '#fdf2f7',
    '100': '#fce7f2',
    '200': '#fbcfe5',
    '300': '#faa7cf',
    '400': '#f570ae',
    '500': '#ed4790',
    '600': '#dc266d',
    '700': '#bf1753',
    '800': '#9e1645',
    '900': '#84173d',
    '950': '#510620',
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Raleway", sans-serif;
  /* color: rgba(233, 230, 238, 1); */
  background-color: #fefefe;
  background-image: url(img/bbblurry.svg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* overflow-x: hidden; */
}

.heading-primary {
  position: relative;
  font-size: 9.8rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -3px;
  color: rgba(233, 230, 238, 1);
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
}

.heading-secondary {
  font-size: 5.2rem;
  margin: 0 3.2rem;
  letter-spacing: -4px;
  color: #1f5f6b;
  filter: drop-shadow(0px 0px 10px #aef1f3);
}

.heading-tertiary {
  font-size: 4.8rem;
  letter-spacing: -3px;
  color: #9e1645;
  filter: drop-shadow(0px 0px 10px #fbcfe5);
  text-align: center;
}

p {
  font-size: 1.8rem;
  font-weight: 500;
  color: #252525;
}
.section-p {
  line-height: 1.2;
}
.section {
  padding-top: 9.6rem;
  padding-bottom: 3.2rem;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}
.grid {
  display: grid;
}
.grid-1--colls {
  grid-template-columns: 1fr;
}
.grid-2--colls {
  grid-template-columns: repeat(2, 1fr);
}
.grid-3--colls {
  grid-template-columns: repeat(3, 1fr);
}
.grid-4--colls {
  grid-template-columns: repeat(4, 1fr);
}

.nav {
  padding: 2.4rem 4.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-hero {
  position: relative;
  background: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.6)
  );
  box-shadow: 0px 20px 30px 0px rgba(66, 68, 90, 0.3);
  min-height: 100vh;
}
.section-hero:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  background-image: url("img/hero-background.webp");
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  z-index: -1;
}

/* MAPA GOOGLE  */
.mapgoogle-boxes {
  margin-top: 4.8rem;
}
.mapgoogle-box {
  margin-top: 3.2rem;
  background: linear-gradient(
    135deg,
    rgba(245, 112, 174, 0.1),
    rgba(29, 184, 195, 0.2)
  );
  z-index: 2;
  transition: all 0.3s;
}
.mapgoogle-box:hover {
  z-index: -1;
  .googlemap,
  iframe {
    z-index: 5;
  }
}
.googlemap,
iframe {
  box-shadow: 0px 0px 30px 0px rgba(66, 68, 90, 0.3);
  position: relative;
  width: 100%;
  height: 60rem;
  border: none;
  opacity: 0.8;
  transition: all 0.3s;
  z-index: -1;
  filter: brightness(0.8);
}

.googlemap:hover {
  opacity: 1;
  filter: brightness(1);
}
.reveal-feature,
.reveal {
  transition: transform 1s, opacity 1s;
}

.section-hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.feature-hidden {
  opacity: 0;
  transform: translateY(-2rem) rotateY(-35deg);
}

img {
  transition: filter 0.5s;
}

/* .img-gallery-lazy {
  filter: blur(1rem);
} */

.slider-blur {
  filter: blur(1rem);
}
